 # -----------------------------------
  # SUPABASE
  # -----------------------------------

  # Variables de Supabase - Session Pooler (usar este)
  DATABASE_URL=postgresql://[user]:[password]@[host]:5432/postgres

  # Variables individuales (para Sequelize CLI)
  DB_HOST=your-supabase-pooler-host.supabase.com
  DB_PORT=5432
  DB_USER=postgres.your-project-id
  DB_PASSWORD=your-database-password
  DB_NAME=postgres

  # -----------------------------------
  # SERVER
  # -----------------------------------
  PORT=3000
  NODE_ENV=development

  # -----------------------------------
  # JWT
  # -----------------------------------
  JWT_SECRET=tu_secret_super_seguro_cambiar_en_produccion
  JWT_EXPIRES_IN=24h

# -----------------------------------
# LISTA DE RUTAS PERMITIDAS
# -----------------------------------
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174